/* Link a la paleta de color

https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff



*/
/* CSS HEX */
:root {
    --light-pink: #ffadadff;
    --deep-champagne: #ffd6a5ff;
    --lemon-yellow-crayola: #fdffb6ff;
    --tea-green: #caffbfff;
    --celeste: #9bf6ffff;
    --baby-blue-eyes: #a0c4ffff;
    --maximum-blue-purple: #bdb2ffff;
    --mauve: #ffc6ffff;
}

h1{
    font-size: 3em;
    text-align: center;
}
h2 {
    font-size: 2em;
    text-align: center;
}
header p {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}
#contenedor {
    margin: auto;
}
#info {
    padding: 50px;
    background-color: var(--deep-champagne);
    border-radius: 10px
}
#results, #no-results, #map-container {
    display: none;
}

#results.show, #no-results.show, #map-container.show {
    display: block;
}
#weather-type {
    display: flex;
    align-items: center;
    justify-content: center;
}
#weather-type p{
    padding: 20px 0 0;
}
.outer-container {
    padding: 5vw;
}
.article-container {
    padding: 10px;
}
article.card{
    padding: 0; 
}
.article-container:nth-of-type(1) article.card .card-header{
    background-color: var(--light-pink);
    
}
.article-container:nth-of-type(2) article.card .card-header{
    background-color: var(--celeste);
}
.article-container:nth-of-type(3) article.card .card-header{
    background-color: var(--tea-green);
}
.article-container:nth-of-type(4) article.card .card-header{
    background-color: var(--lemon-yellow-crayola);
}
.article-container:nth-of-type(5) article.card .card-header{
    background-color: var(--mauve);
}
.article-container:nth-of-type(6) article.card .card-header{
    background-color: var(--baby-blue-eyes);
}
#boton {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
#sendButton {
    background-color: var(--maximum-blue-purple);
    border:  none;
    color: black;
}
#sendButton:hover {
    opacity: 80%;
}
#map {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
}
